a {
	color: black;
	text-decoration: none;
}
/* Basic setup */

ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	position: sticky;
	height: 64px;
	margin: 0px;
}
.home-container {
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
.session-container {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	background-color: white;
}
.navbar__container {
	display: flex;
	justify-content: space-between;
	border-bottom: rgb(247, 247, 247) solid 0.5px;
	background-color: white;
}

.navbar-buttons-group {
	display: flex;
	align-items: center;
}

/* janky fix, fix later */
.logout {
	background-color: white;
}

.footer-container {
	font-family: Arial, Helvetica, sans-serif;
	color: #009999;
	/* background-color: #2D333F; */
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	border-top: grey solid 1px;
	background-color: white;
}

.footer-element {
	padding: 0px 10px;
}

a.footer-element {
	color: #009999;
}

a.footer-element:hover {
	color: #01d4d4;
}
